@import "tailwindcss";

:root {
  --primary-purple: #833E8D;
  --accent-orange: #E25800;
  --soft-peach: #F0B285;
  --lime-green: #D2E177;
  --pink: #FB83AD;
  --coral: #F08592;
  --background: #fff;
  --foreground: #171717;
  --white: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary-purple: var(--primary-purple);
  --accent-orange: var(--accent-orange);
  --soft-peach: var(--soft-peach);
  --lime-green: var(--lime-green);
  --pink: var(--pink);
  --coral: var(--coral);
  --white: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but keep functionality */
.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
